#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.App {
  width: 512px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  border-radius: 5px;
  overflow: hidden;
}

.App-title {
  background-color: #17194c;
  color: white;
  height: 50px;
  font-size: 24px;
  display: flex;
}

.App-content {
  background-color: white;
}
